# Introduction to python

1. Basic arithmetic operations
2. Types
3. Variables
4. Comparaison operators 
5. Strings
6. Functions 
7. Conditions 
8. Boolean expressions
9. Loops 
10. Exeptions
11. Importing libraries 
12. Numpy (if we have time)

###  Basic arithmetic operations

In [4]:
#addition
3 + 5

8

In [5]:
#la puissance
2 ** 5

32

In [7]:
#modulo
10 % 4

2

In [8]:
#division
10 / 3

3.3333333333333335

In [9]:
#floor division
10 // 3

3

In [10]:
# division by zero
10 / 0

ZeroDivisionError: division by zero

#### Mistakes with float data type

In [11]:
#Mistakes with float data type 
0.1 + 0.1 + 0.1

0.30000000000000004

Keep in mind that when working with floats there is always mistakes that needs to be taken care of.

### Types

In [12]:
# integer
type(1)

int

In [13]:
#float
type(1.0)

float

In [14]:
#casting int 
type(int(1.0))

int

In [15]:
#casting float
type(float(1))

float

In [16]:
# types of functions, types, type ....
type(type)

type

In [17]:
type(int)

type

In [18]:
type(sorted)

builtin_function_or_method

In [20]:
type(print)

builtin_function_or_method

In [27]:
int(1.9)

1

In [28]:
int('Amir')

ValueError: invalid literal for int() with base 10: 'Amir'

### Define a variable

In [19]:
# Define a variable a
a = 1 
# print a
print(a)

1

In [22]:
# define 3 variables a,b,c 
a,b,c = 1,2,3 
# print the variables
print(a,b,c)

1 2 3

### Comparaison operators

In [35]:
# Try operators < > >= <= == != 
2 != 1

True

In [30]:
type( 2 > 1 )

bool

In [36]:
a = True 
b = False 
print(a,type(a))

True <class 'bool'>

### Strings

In [40]:
# Define a string variable called name 
name = "Ahmed"
#print the variable 
print(name, type(name))

Ahmed <class 'str'>

In [44]:
#checking characters by indexes 
name[-1]

'd'

In [47]:
# Define a string variable called country  = l'Algerie 
country = 'L\'Algerie'
#print the variable 
print(country)

L'Algerie

In [49]:
#print the length of a string
print(len(name))

5

In [50]:
len(country)

9

In [54]:
#Basic concatenation
name + " viens " + country

"Ahmed viens L'Algerie"

In [55]:
#Strings functions 
#define a variable named movie 
movie = 'The titanic movie'
#title 
print(movie.title())
#lower
print(movie.lower())
#upper 
print(movie.upper())

The Titanic Movie
the titanic movie
THE TITANIC MOVIE

Sexe : Femme, FEMME, femme .... 
upper == > FEMME, FEMME, FEMME

In [57]:
#String formating
#define a variable called name and a variable called age 
name = 'Ahmed'
age = 20 
sentence = 'my name is {} and I am {} years old'
#print a formatted string : my name is NAME and I am AGE years old
print(sentence.format(name,age))

my name is Ahmed and I am 20 years old

In [60]:
#slicing 
name = 'Ahmed Ferdi'
name[-1]

'i'

string[start_idx,end_idx,step]
- start_idx : included
- end_idx: excluded

In [77]:
name[:]

'Ferdi'

In [79]:
# AmdFri
name[::2]

'AmdFri'

In [98]:
#split 
email = 'ahmed.ferdi@cse.com'
org = email.split('@')[1].split('.')[0]
#first_name = parts[0].split('.')[0]
#last_name = parts[0].split('.')[1]
#print(org, first_name, last_name)
print(org)

cse

### Functions

In [101]:
#function with a return : calculate the area of a square
def calculate_area(x,y):
    area = x* y
    return area

6

In [100]:
# test the function 
calculate_area(2,3)

6

In [103]:
#function without a return : print_title 
def print_title(movie_title):
    title = movie_title.title()
    print(title)

In [104]:
#test the function 
print_title('The titanic movie')

The Titanic Movie

In [111]:
def next_number(x, step = 2):
    return x + step 

next_number(5,1)

6

### Conditions

In [112]:
# create a function that compares two numbers 
def compare(x,y):
    """
    write a statement depending on x and y
    if x >y :X is bigger than y
    if x<y : X is less than y
    if x = y: X is equal to y
    """
    if x > y:
        print('{} is bigger than {}'.format(x,y))
    elif x < y:
        print('{} is less than {}'.format(x,y))
    else:
        print('{} is equal to {}'.format(x,y))

In [125]:
if False: 
    print('I am in')  
    print('I am out ')

In [115]:
# test the function 
compare(50,50)

50 is equal to 50

### Bolean expressions

In [116]:
#and 
2 < 4 and 4 < 9

True

In [119]:
#or
2 > 4 or 4 > 9

False

In [120]:
#not 
not(2 > 4)

True

In [122]:
not(2 > 4) and ( 2 < 1 or 5 > 0)

True

In [ ]:
dd

### Loops

In [128]:
# for loop using range 
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [129]:
# while loop 
i = 0 
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

### Exceptions

In [132]:
a = 10 / 0 
print('The rest of the program')

ZeroDivisionError: division by zero

In [140]:
# division by zero exception
try :
    a = 10 / 0
except Exception as e:
    print(e)
else:
    print('i am here if there is no exception')
finally:
    print('I am here anyway')


print('The rest of the program')

division by zero
I am here anyway
The rest of the program

### Importing libraries

sort == > numpy, pandas 

import numpy ===> sort 
import pandas ==> sort

from numpy import sort as sort_numpy 
from pandas import sort as sort_pandas

In [141]:
# import pi from math 
from math import pi

In [142]:
# print pi 
print(pi)

3.141592653589793

### Task 1 : 
Write a python function that calculates the number of pair numbers in a list of integers 
- Example : 
    - input : [2,6,7,8,9,10,65,76,6,8] 
    - output: 7

In [145]:
# Task 1 
def PairNum(list_integers):
    compteur = 0
    for element in list_integers:
        if i%2 == 0:
            compt +=1
    return compt

PairNum([2,6,7,8,9,10,65,76,6,8])

7

#### Task 2 
Write a Python program to convert seconds to day, hour, minutes and seconds.
- Example :
    - input : 86399
    - output : day:hour:minutes:seconds-> 14:6:56:5

In [147]:
def convert(seconds):
    min, sec = divmod(seconds, 60)
    hour, min = divmod(min, 60)
    day, hour = divmod(hour, 24)
    return "%d:%d:%02d:%02d" % (day, hour, min, sec)

print(convert(86399))

0:23:59:59

In [148]:
def format_date(sec):
    days=sec//86400
    hours=(sec-days*86400)//3600
    minutes=(sec-days*86400-hours*3600)//60
    seconds=sec-days*86400-hours*3600-minutes*60
    return f"day:hour:minutes:seconds-> {days}:{hours}:{minutes}:{seconds}"

format_date(86399)

'day:hour:minutes:seconds-> 0:23:59:59'

In [149]:
def to_date(i):
    days = i//86400
    hours = (i - days*86400)//3600
    minutes = (i - days*86400 - hours*3600)//60
    seconds = i - days*86400 - hours*3600 - minutes*60
    return str(days)+":"+str(hours)+":"+str(minutes)+":"+str(seconds)

to_date(86399)

'0:23:59:59'

### Numpy

In [ ]:
#Import the numpy library

In [ ]:
#Creating a numpy array

In [ ]:
# check the array

In [ ]:
# checking the type of the array

### Checking the advantage of working with numpy

In [ ]:
#Creating an array of 100 million random value

In [ ]:
# import time

In [ ]:
# calculating the mean using a for loop

In [ ]:
#calculating the mean using numpy function

In [ ]:
# Create a matrix of zeros

In [ ]:
#creating a matrix of ones

In [ ]:
#Creating a matrix of a constant

In [ ]:
#Create a diagonal matrix

In [ ]:
#Using arange and linspace and the difference between them

In [ ]:
# using linspace

In [ ]:
#Operations with two arrays - create two arrays of same size

In [ ]:
#addition

In [ ]:
#subtraction

In [ ]:
#multiplication

In [ ]:
#Using the max function

In [ ]:
# create a matrix

In [ ]:
#check the matrix

In [ ]:
#Using the min fucntion with the axis attribute

In [ ]:
#using the sum function

In [ ]:
#using the sum function with the axis attribute

In [ ]:
#builtin functions inside of numpy ( cos)

In [ ]:
# sqrt

In [ ]:
#Sorting with and without axis attribute